@using LoginProjectDomain.ViewModels
@model IEnumerable<LatestNewsViewModelList>
@{
    ViewData["Title"] = "Default";
}


<section class="section blog" id="blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <h3 class="title mb-3">آخرین خبرها</h3>
                    <p class="text-muted font-size-15">و در واقع تمایز این چیزها آسان و مصلحت است، زیرا زمانی که ما وقت آزاد داریم، انتخاب می کنیم که چه چیزی را انتخاب کنیم.</p>
                </div>
            </div>
        </div>

        <div class="row">


            @foreach (var item in Model)
            {
                <div class="col-lg-4">
                    <div class="blog-box mb-5 mb-lg-0">
                        <img src="/Theme/images/blog/@item.ImageName" alt="" class="img-fluid d-block mx-auto rounded" />
                        <ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
                            <li class="list-inline-item me-3">
                                <i class="icon-size-15 icon me-1" data-feather="calendar"></i>10 آوریل 2020
                            </li>
                            <li class="list-inline-item">
                                <i class="icon-size-15 icon me-1" data-feather="user"></i>@item.UserName
                            </li>
                        </ul>
                        <a asp-action="Details" asp-controller="Blog" asp-route-id="@item.Id" class="fw-bold h5">@item.Title</a>
                        <p class="text-muted font-size-15">@item.NewsTextSummary</p>
                        <a asp-action="Details" asp-controller="Blog" asp-route-id="@item.Id" class="text-primary font-weight-semibold">بیشتر بدانید<span class="ms-2 right-icon">→</span></a>
                         @* <a href="/Blog/details/@item.Id" class="">بیشتر بدانید<span class="ms-2 right-icon">→</span></a> *@
                    </div>
                </div>

            }
        </div>
        
    </div>
</section>



